@import '../../theme/main.scss';

.search-resturant-container {
  background-color: rgba(110, 118, 155, 0.133);
  padding: 10px;

  .search-content {
    padding-left: 30px;
  }

  .title {
    margin-top: 100px;
    color: $ice;
    text-transform: uppercase;
    font-weight: $bold;
    font-size: 60px;
  }

  .header {
    background-image: url('./food-yelp-header.jpg');
    background-color: $coolBlue;
    background-size: cover;
    background-position: 50%;
  }

  .loader-overlay {
    background-color: $coolBlue;
  }
}
