@import '../../theme/main.scss';

.search-resturant-container {
  .title {
    padding: 30px;
    color: $ice;
    text-transform: uppercase;
    font-weight: $bold;
    font-size: 3rem;
  }

  .header {
    background-image: url('./food-yelp-header.jpg');
    background-color: $coolBlue;
    background-size: cover;
    background-position: 50%;
  }

  .loader-overlay {
    background-color: $coolBlue;
  }
}
