@import '../../theme/main.scss';

.app {
  margin: 20px;
  width: 95%;

  .header {
    background-image: url('./food-yelp-header.jpg');
    background-color: $coolBlue;
    background-size: cover;
    background-position: 50%;
  }
}
